@import '../../styles/main.scss';

.list-item {
  width: 100%;
  height: 80px;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  border: 1px solid $shadow-light;
  background: $white;
}

.list-item__name {
  margin-left: 10px;
}
