@import '../../styles/main.scss';

.page-list {
  display: flex;
  flex-direction: column;
  border: 1px solid $hover-grey;
  justify-content: space-between;
  height: 70vh;
  width: 90vh;
  border-radius: 8px;
  background: $white;
  user-select: none;

  &__wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    font-family: $font-family--primary;
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
    color: $black;
    align-self: center;
    margin: auto;
  }

  &__list {
    font-family: $font-family--primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    width: 100%;
    height: auto;
  }
  
  &__loading {
    margin-bottom: 150px;
    font-weight: 600;
    font-size: 24px;
    color: $black;
    align-self: center;
    margin: auto;
  }

  &__error {
    margin-bottom: 150px;
    font-weight: 600;
    font-size: 24px;
    color: red;
  }
  
  .modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: $font-family--primary;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: $white;
    color: $black;
    user-select: text;
  }

  .modal-content {
    padding: 80px;
  }

  .modal-content__wrapper {
    display: flex;
    flex-grow: 1;
  }

  .modal-content__image-container {
    width: 50%;  
    margin-right: -10px;
  }

  .img {
    max-width: 50%;
    margin-top: 80px;
    border-radius: 50%;
  }

  .img-empty {
    max-width: 60%;
    margin-top: 120px;
    margin-right: 120px;
    border-radius: 50%;
  }
  

  .modal-content__heading {
    font-size: 24px;
    padding: 0 0 15px 20px;

  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    background-color: $hover-grey;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .modal-content__details {
    margin: 20px;
  }

  .list-item {
    max-width: auto;
    height: 80px;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    border: none;
    background: $white;
    list-style-type: none;
    flex: 1;
    gap: 10px;
   
    :hover {
      background-color: #f8f8f8;
    }
  
  .hero-image--container {
    width: 15%;
    height: 35px;
    border-radius: 0 50px 50px 0;
  }

  .gender-image {
    width: 24px;
    height: 24px;
    border: 1px solid $hover-grey;
    margin-left: -40px;
    border-radius: 50%;
  }
  }

  .page-list__buttons {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    
  }
  .page-list__buttons button {
    background-color: $hover-grey;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
  } 
}