@import '../../styles/main.scss';

.detail-item {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: $white;
  color: $black;
  user-select: text;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  transition: 0.7s;
  overflow: hidden;
  flex: 1; 
  user-select: text;
}

.img {
  max-width: 100%;
  max-height: 100%;  
}

.detail-item--ul {
  padding: 50px 100px;   
  user-select: text;
}

.detail-item--ul__close-button {
  background-color: $hover-grey;
  border: none;
  margin-top: 24px;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;

}

.detail-item--li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  color: $black;
  margin-left: 20px;
}

.detail-item--h2 {
  text-align: left;
  margin: 20px 10px 20px 0;
  cursor: pointer;
}

.detail-item--header {
  font-weight: 700;
  margin-bottom: 10px;
  color: grey;
   
  &.female {
    color: pink;
  }

  &.male {
    color: lightblue;
  } 
}